<%- include("partials/header") -%>

<!-- Background image -->
<div
  style="
    background-image: url(https://source.unsplash.com/1600x900/?blog);
    height: 50vh;
  "
></div>
<!-- Background image -->

<!-- Search Area -->
<div class="search">
  <input type="text" class="search-bar" placeholder="Search topics..." />
  <button class="search-button">
    <svg
      stroke="currentColor"
      fill="currentColor"
      stroke-width="0"
      viewBox="0 0 1024 1024"
      height="1.5em"
      width="1.5em"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0 0 11.6 0l43.6-43.5a8.2 8.2 0 0 0 0-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z"
      ></path>
    </svg>
  </button>
</div>
<!-- Search Area -->

<!-- Categories -->
<div class="container">
  <h1
    style="
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      height: 50px;
      color:#777 ;
    "
  >
    Popular Categories
  </h1>

  <div class="flexcards">

    <div
      class="card"
      style="
        background-image: url('css/finance.jpg');
        background-size: cover;
        font-weight: 300;
      "
    >
      <div class="strip" style="background-color: rgba(11, 19, 19, 0.626)">
        Finance
      </div>
    </div>

    <div
      class="card"
      style="
        background-image: url('css/tech.jpg');
        background-size: cover;
        font-weight: 300;
      "
    >
      <div class="strip" style="background-color: rgba(11, 19, 19, 0.626)">
        Technology
      </div>
    </div>

    <div
      class="card"
      style="
        background-image: url('css/movies.jpg');
        background-size: cover;
        font-weight: 300;
      "
    >
      <div class="strip" style="background-color: rgba(11, 19, 19, 0.626)">
        Movies
      </div>
    </div>

    <div
      class="card"
      style="
        background-image: url('css/edu.jpeg');
        background-size: cover;
        font-weight: 300;
      "
    >
      <div class="strip" style="background-color: rgba(11, 19, 19, 0.626)">
        Education
      </div>
    </div>

    <div
      class="card"
      style="
        background-image: url('css/traveling.jpg');
        background-size: cover;
        font-weight: 300;
      "
    >
      <div class="strip" style="background-color: rgba(11, 19, 19, 0.626)">
        Travel
      </div>
    </div>

    <div
      class="card"
      style="
        background-image: url('css/cook.jpg');
        background-size: cover;
        font-weight: 300;
      "
    >
      <div class="strip" style="background-color: rgba(11, 19, 19, 0.626)">
        Cooking
      </div>
    </div>

  </div>
<!-- Categories -->

<!-- Posted Blogs -->
  <h1
  style="
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 50px;
  color:#777;
  "
  >
    Your Recent Posts
  </h1>

  <% posts.forEach( (post) => {%>
    <a href="/posts/<%=post.title%>" style="text-decoration: none">
      <h1 
      style="
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color:#777 ;
      "
      onMouseOver="this.style.color='#2e2727'"
      onMouseOut="this.style.color='#777'"
      >
        <%= post.title %>
      </h1>
    </a>

    <p style="font-size: 20px;">
      <%= post.body.substring(0, 100) + " ..." %>
      <a href="/posts/<%=post.title%>" style="text-decoration: none">Read more</a>
    </p>

    <p><i>On <%= kindOfDay %></i></p>
    <br>
    
  <%}); %> 
  <!-- Posted Blogs -->

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <%- include("partials/footer") -%>
</div>
